<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add course</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/about">About</a></li>
          </ul>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <h1>Add course</h1>
<form method="post" action="/courses/add">
    <label for="coursecode">Course Code:</label>
<input type="text" id="coursecode" name="courseCode" required value="<%= newCourseCode %>"><br>

<label for="coursename">Course Name:</label>
<input type="text" id="coursename" name="courseName" required value="<%= newCourseName %>"><br>

<label for="syllabus">Syllabus:</label>
<input type="url" id="syllabus" name="syllabus" required value="<%= newSyllabus %>"><br>

<label for="progression">Progression:</label>
<input type="text" id="progression" name="progression" required value="<%= newProgression %>"><br>
    
    <button type="submit">Add course</button>
</form>
<% if (locals.message && locals.message.length) { %>
    <% locals.message.forEach(function(msg) { %>
        <p><%= msg %></p>
    <% }); %>
<% } %>


</section>
        
    </main>
    <footer>
        <p>&copy; <a href="mailto:joni2307@student.miun.se">joni2307@student.miun.se</a> All rights reserved.</p>
    </footer>
</body>
</html>
