<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <h1>Courses</h1>

            <ul class="extraNavigation">
                <li><a href="/courses/add">Press here to add a course</a></li>
                <% if (courseList && courseList.length> 0) { %>
                <li class="tip">Click on a course code&#x2B07; to edit a course</li>
                <% }; %>
            </ul>


            <% if (courseList && courseList.length> 0) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Syllabus</th>
                            <th>Progression</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% courseList.forEach(function(course) { %>
                            <tr>
                                <td>
                                    <a href="/courses/edit/<%= course.id %>"><%= course.courseCode %></a>
                                </td>
                                <td>
                                    <%= course.courseName %>
                                </td>
                                <td><a href="<%= course.syllabus %>" target="_blank">link</a></td>
                                <td>
                                    <%= course.progression %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                                    </table>
                <% } else { %>
                    <p>No courses found.</p>
                    <% } %>
                    <% if (successMessage.length>0) { %>
                        <p>
                            <%= successMessage %>
                        </p>
                        <% }; %>
            
                </section>

    </main>
    <footer>
        <p>&copy; 2024 <a href="mailto:joni2307@student.miun.se">joni2307@student.miun.se</a> All rights reserved.</p>
    </footer>
</body>

</html>